# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.idea/
/logs/

*.html
*.css
*.js
*.log
*.csv
*.json
*.jpg
*.png
*.gif
**/__pycache__/